<h1>Welcome to Railway app!</h1>

<p><%= link_to 'Stations list', stations_path %></p>
<p><%= link_to 'Routes list', routes_path %></p>
<p><%= link_to 'Trains list', trains_path %></p>
<p><%= link_to 'Tickets list', tickets_path %></p>
